* body {
    font-family:Helvetica,;
    margin: 0;
    padding: 10px;
}

    
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align:left;
    font-family: 'Dokdo', cursive;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    background-color:cyan;
    font-family: 'Fantacy';
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

.answer {
    display: flex;
    background-color:lightpink;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Verdana Bold';
}
.question:hover .answer {
    display:flexbox;

}
@media only screen and (max-width: 500px) {
    .question {
        padding: 10px;
    }
}

